body, 
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  font-weight: 500;
  font-size: 18px;
}

.itemSp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}
.item3 {
  margin-left: 6rem;
}

/* #333 */

#gamebox {
  background-color : #333 ;
  /*background-image : url(../img/map.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  display : flex ;
  align-items : center;
  justify-content : center;
  overflow : hidden;
  touch-action : none;
}

canvas {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}


/* FLoating control panel styling */

#controls{
  padding-top: 20px;
  z-index: 5;
  width: 20rem;
  height: 36rem;

  position: absolute;
  margin: -18rem 0 0 -10rem;
  left: 50%;
  top: 50%;
  text-align: center;

  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);

  border: 6px solid rgba(136, 136, 136, .5);
  border-radius: 1rem;
  
  touch-action: none;
  user-select: none;
  ;
}

#controls:hover {
  cursor: pointer;
  /* border-radius: 0.8rem; */
  border-color: #dd794aa8;
  border-width: 10px;
}


.saveButton{
  color: white;
  background: #dd794a;
  margin-top: 12px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  border-radius: 9px;
  border: none;
  width: 72%;
  padding: 12px 0;
  transition: 150ms ease-out;
  }
.saveButton:hover{
  background: #d66029;
}




/* ScoreBoard Styling */
.score {
  position: absolute;
  touch-action: none;
  user-select: none;
  font-size: 1.5rem;
  color: white;
  padding-left: 1rem;
}

#infected,
#healthy,
#dead,
#recovered {
  color: #d66029;
}





label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type=checkbox].css-checkbox {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0;
  border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  /* font-size:15px; */
  vertical-align:middle;
  cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}
.css-label{
  background-image:url(../img/checkgreen.png);
}
.dark-plus-orange{background-image:url(../img/plus.png)}
.dark-check-orange{background-image:url(../img/checkorange.png);}
input[type=checkbox].css-checkbox.med + label.css-label.med {
  padding-left:22px;
  height:17px; 
  display:inline-block;
  line-height:17px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}
input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
  background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
  padding-left:22px;
  height:16px; 
  display:inline-block;
  line-height:16px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
} 
input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{
  background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
  padding-left:22px;
  height:20px; 
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}
input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{
  background-position: 0 -20px;
}







